# Homework for week 4

## Functions

#### 1. Convert String Number to Integer
Create a function that can take something like ```"$5,356"``` or ```"$250,000"``` or even ```"$10.75"``` and covert into integers like return ```5356```, ```250000``` and ```11``` respectively.

In [88]:
## build function here

def int_num (number):
    '''
    convert string into an integer
    '''
    number = number.replace ("$", "").replace (",","")
         

    return round(float(number))

In [89]:
## call the function on "$5,356"
##Did you get 5356
int_num("$5,356")

5356

In [90]:
## call the function on "$10.75"
## Did you get 11?

int_num ("$10.75")

11

In [91]:
## Use map() to run your function on the following list
## save result in a list called updated_list
my_amounts = ["$12.24", "$4,576.33", "$23,629.01"]
map(int_num, my_amounts)

In [100]:
updated_list = list(map(int_num, my_amounts))

In [101]:
updated_list

[12, 4576, 23629]

### 3. What if we encounter a list that has a mix of numbers as strings and integers and floats?

In [96]:
## Run this cell
more_amounts = [960, "$12.24", "$4,576.33", "$23,629.01", 23.656]

In [107]:
## tweaked the function here to handle all situations


def int_num (number):
    '''
    convert string into an integer
    '''
    number = number.replace ("$", "").replace (",","")
    while number == number:
        return round(float(number))
            
    else:
        pass
        
    return round(float(number))

In [108]:
## run it on more_amounts using map()
map(int_num, more_amounts)

In [109]:
updated_list = list(map(int_num, more_amounts))

AttributeError: 'int' object has no attribute 'replace'