## Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "Z".
- Export the content into a CSV file called ```md_Z.csv```.

In [2]:
pip install icecream

Requirement already satisfied: icecream in /Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages (2.1.1)
Requirement already satisfied: executing>=0.3.1 in /Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages (from icecream) (0.8.1)
Requirement already satisfied: colorama>=0.3.9 in /Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages (from icecream) (0.4.4)
Requirement already satisfied: pygments>=2.2.0 in /Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages (from icecream) (2.8.1)
Requirement already satisfied: asttokens>=2.0.1 in /Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages (from icecream) (2.0.5)
Requirement already satisfied: six in /Users/angeladegbesan/opt/anaconda3/lib/python3.8/site-packages (from asttokens>=2.0.1->icecream) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import requests ## request html for a page(s)
import pandas as pd ## pandas to work with data to scrape tables
from icecream import ic

In [21]:
url = 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1'

In [23]:
response = requests.get(url)

In [25]:
df = pd.read_html(response.text)

In [28]:
df[1]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457,MD,02/21/1990,03/09/2005,1941.0
4,Zackin,Henry,J,101457,MD,03/16/2005,03/09/2005,1941.0
5,Zackin,Henry,J,101457,MD,03/28/2002,03/09/2005,1941.0
6,Zadeh,Mehran,NaN,3399,PA,07/21/2010,09/06/2013,1961.0
7,Zafar,Kamal,NaN,113,SA,08/04/2016,08/08/2016,1968.0
8,Zafar,Syeda,NaN,158264,MD,10/16/2007,11/06/2007,1936.0
9,Zahl,Kenneth,NaN,151413,MD,04/18/2008,04/11/2008,1956.0
10,Zahler,Gideon,NaN,6578,PA,08/04/2004,07/29/2004,1964.0
11,Zaino,Edward,NaN,42864,MD,12/12/1997,NaN,NaN
12,Zak,John,NaN,170914,MD,04/27/2007,04/20/2007,1953.0
13,Zaki,Omar,S,114194,MD,10/13/1994,NaN,NaN
14,Zales,Michael,NaN,95317,MD,07/19/1994,NaN,NaN
15,Zalmanov,Mikhail,Isaakovich,158429,MD,11/08/2005,11/02/2005,1946.0
16,Zalmanov,Mikhail,I,158429,MD,03/06/2013,02/27/2013,1946.0
17,Zaman,Fasih,Q,114131,MD,11/24/1994,NaN,NaN
18,Zamek,Albert,NaN,181578,MD,11/20/2013,12/26/2013,1961.0
19,Zamstein,Jacob,NaN,136715,MD,04/26/2005,04/19/2005,1951.0

In [ ]:
##getting all of the items right

In [33]:
url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}"

In [34]:
all_urls_lc = [url.format(url_number) for url_number in range(1,6)]
all_urls_lc

['https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5']

In [35]:
from random import randrange 
import time

In [36]:
total_pages = 6

In [37]:

df_all = []

for each in range(1, total_pages):
    link = url.format(each)
    ic(link)
    
    print (f"scraping page {link}")
    response = requests.get(link)
    if response.status_code == 200:         
        df_list = pd.read_html (response.text)   
        df_all.append(df_list[1])                   
        ic(df_list)                             
        
        
        mysnoozerbug = randrange (4,10)     
        print (f"Snoozing for {mysnoozerbug} seconds before next scrape") 
        ic(response.status_code)  
        time.sleep(mysnoozerbug)    
        
        
print (f"I'm DONE SCRAPING {total_pages - 1} pages")

ic| link: 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1'

scraping page https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1

ic| df_list: [                                  Physician Last Name  \
             0                                             Zaccheo
             1                                           Zachariah
             2                                              Zachel
             3                                              Zackin
             4                                              Zackin
             5                                              Zackin
             6                                               Zadeh
             7                                               Zafar
             8                                               Zafar
             9                                                Zahl
             10                                             Zahler
             11                                              Zaino
             12                                                Zak
             13                                               Zaki
             14                                              Zales
             15                                           Zalmanov
             16                                           Zalmanov
             17                                              Zaman
             18                                              Zamek
             19                                           Zamstein
             20                               New Physician Search
             21  Physician Records \tvar css = ".visualping-con...

                                              Physician First Name Physician Middle Name  \
             0                                              Jerald                     D
             1                                             Abraham                   NaN
             2                                            Gretchen                   NaN
             3                                               Henry                     J
             4                                               Henry                     J
             5                                               Henry                     J
             6                                              Mehran                   NaN
             7                                               Kamal                   NaN
             8                                               Syeda                   NaN
             9                                             Kenneth                   NaN
             10                                             Gideon                   NaN
             11                                             Edward                   NaN
             12                                               John                   NaN
             13                                               Omar                     S
             14                                            Michael                   NaN
             15                                            Mikhail            Isaakovich
             16                                            Mikhail                     I
             17                                              Fasih                     Q
             18                                             Albert                   NaN
             19                                              Jacob                   NaN
             20                                                NaN                   NaN
             21  Physician Last Name Physician First Name Physi...                   NaN

                 License Number License Type Effective Date Date Updated  Year of Birth
             0         134842.0           MD     12/20/2001   12/23/2001         1946.0
             1         137458.0           MD     09/15/2004   09/08/2004         1950.0
             2          20699.0           PA     10/13/2017   10/06/2017         1952.0
             3         101457.0           MD     02/21/1990   03/09/2005         1941.0
             4         101457.0           MD     03/16/2005   03/09/2005         1941.0
             5         101457.0           MD     03/28/2002   03/09/2005         1941.0
             6           3399.0           PA     07/21/2010   09/06/2013         1961.0
             7            113.0           SA     08/04/2016   08/08/2016         1968.0
             8         158264.0           MD     10/16/2007   11/06/2007         1936.0
             9         151413.0           MD     04/18/2008   04/11/2008         1956.0
             10          6578.0           PA     08/04/2004   07/29/2004         1964.0
             11         42864.0           MD     12/12/1997          NaN            NaN
             12        170914.0           MD     04/27/2007   04/20/2007         1953.0
             13        114194.0           MD     10/13/1994          NaN            NaN
             14         95317.0           MD     07/19/1994          NaN            NaN
             15        158429.0           MD     11/08/2005   11/02/2005         1946.0
             16        158429.0           MD     03/06/2013   02/27/2013         1946.0
             17        114131.0           MD     11/24/1994          NaN            NaN
             18        181578.0           MD     11/20/2013   12/26/2013         1961.0
             19        136715.0           MD     04/26/2005   04/19/2005         1951.0
             20             NaN          NaN            NaN          NaN            NaN
             21             NaN          NaN            NaN          NaN            NaN  ,
                 Physician Last Name Physician First Name Physician Middle Name  \
             0              Zaccheo               Jerald                     D
             1            Zachariah              Abraham                   NaN
             2               Zachel             Gretchen                   NaN
             3               Zackin                Henry                     J
             4               Zackin                Henry                     J
             5               Zackin                Henry                     J
             6                Zadeh               Mehran                   NaN
             7                Zafar                Kamal                   NaN
             8                Zafar                Syeda                   NaN
             9                 Zahl              Kenneth                   NaN
             10              Zahler               Gideon                   NaN
             11               Zaino               Edward                   NaN
             12                 Zak                 John                   NaN
             13                Zaki                 Omar                     S
             14               Zales              Michael                   NaN
             15            Zalmanov              Mikhail            Isaakovich
             16            Zalmanov              Mikhail                     I
             17               Zaman                Fasih                     Q
             18               Zamek               Albert                   NaN
             19            Zamstein                Jacob                   NaN

                 License Number License Type Effective Date Date Updated  Year of Birth
             0           134842           MD     12/20/2001   12/23/2001         1946.0
             1           137458           MD     09/15/2004   09/08/2004         1950.0
             2            20699           PA     10/13/2017   10/06/2017         1952.0
             3           101457           MD     02/21/1990   03/09/2005         1941.0
             4           101457           MD     03/16/2005   03/09/2005         1941.0
             5           101457           MD     03/28/2002   03/09/2005         1941.0

             6             3399           PA     07/21/2010   09/06/2013         1961.0
             7              113           SA     08/04/2016   08/08/2016         1968.0
             8           158264           MD     10/16/2007   11/06/2007         1936.0
             9           151413           MD     04/18/2008   04/11/2008         1956.0
             10            6578           PA     08/04/2004   07/29/2004         1964.0
             11           42864           MD     12/12/1997          NaN            NaN
             12          170914           MD     04/27/2007   04/20/2007         1953.0
             13          114194           MD     10/13/1994          NaN            NaN
             14           95317           MD     07/19/1994          NaN            NaN
             15          158429           MD     11/08/2005   11/02/2005         1946.0
             16          158429           MD     03/06/2013   02/27/2013         1946.0
             17          114131           MD     11/24/1994          NaN            NaN
             18          181578           MD     11/20/2013   12/26/2013         1961.0
             19          136715           MD     04/26/2005   04/19/2005         1951.0  ,
                  0                                                  1
             0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
                 0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
             0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

             [1 rows x 27 columns]]
ic| response.status_code: 200

Snoozing for 8 seconds before next scrape

ic| link: 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2'

scraping page https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2

ic| df_list: [                                  Physician Last Name  \
             0                                              Zamzam
             1                                           Zaninelli
             2                                              Zarate
             3                                              Zarate
             4                                              Zarate
             5                                           Zarbakhsh
             6                                             Zarcone
             7                                             Zaresky
             8                                            Zaretsky
             9                                           Zargaroff
             10                                             Zarkin
             11                                            Zarnoch
             12                                          Zavarelli
             13                                            Zawahir
             14                                           Zawislak
             15                                              Zedek
             16                                         Zegarrundo
             17                                             Zegeye
             18                                                Zeh
             19                                             Zehner
             20                               New Physician Search
             21  Physician Records \tvar css = ".visualping-con...

                                              Physician First Name Physician Middle Name  \
             0                                               Salih                   NaN
             1                                               Rocco                   NaN
             2                                               Jesus                     M
             3                                               Jesus                     M
             4                                               Jesus                     M
             5                                              Samira                   NaN
             6                                                John                   NaN
             7                                             Stephen                   NaN
             8                                                 Jay                     R
             9                                               David                    D.
             10                                              Allan                   NaN
             11                                            Chester                     W
             12                                           Danielle                   Ann
             13                                        Meeyapillai                     K
             14                                             Walter                     J
             15                                              Yaron                   NaN
             16                                            Rolando                   NaN
             17                                              Yonas                   NaN
             18                                                Kim                    M.
             19                                            William                  John
             20                                                NaN                   NaN
             21  Physician Last Name Physician First Name Physi...                   NaN

                 License Number License Type Effective Date Date Updated  Year of Birth
             0         113897.0           MD     02/07/1995          NaN            NaN
             1         183941.0           MD     05/03/2017   04/26/2017         1953.0
             2         144321.0           MD     01/27/2006   01/20/2006         1947.0
             3         144321.0           MD     04/03/2003   04/04/2003         1947.0
             4         144321.0           MD     12/08/2006   12/01/2006         1947.0
             5          14763.0           PA     12/13/2019   12/06/2019         1981.0
             6         201767.0           MD     02/09/2007   02/05/2007         1969.0
             7         115550.0           MD     11/30/1993          NaN            NaN
             8         179607.0           MD     03/11/2013   04/10/2017         1957.0
             9         158257.0           MD     11/13/2019   11/06/2019         1943.0
             10         95976.0           MD     02/03/2000          NaN         1938.0
             11        127600.0           MD     10/11/2005   10/11/2005         1945.0
             12          8175.0           PA     09/18/2007   10/05/2007         1979.0
             13        117999.0           MD     09/05/2006   10/31/2006         1939.0
             14        194570.0           MD     06/06/2016   06/06/2016         1954.0
             15        180142.0           MD     11/15/2019   11/08/2019         1961.0
             16        125982.0           MD     11/19/2010   11/17/2010         1937.0
             17        152635.0           MD     06/29/2017   07/27/2017         1952.0
             18        166393.0           MD     04/12/2019   04/05/2019         1956.0
             19        181937.0           MD     06/19/2008   06/13/2008         1956.0
             20             NaN          NaN            NaN          NaN            NaN
             21             NaN          NaN            NaN          NaN            NaN  ,
                 Physician Last Name Physician First Name Physician Middle Name  \
             0               Zamzam                Salih                   NaN
             1            Zaninelli                Rocco                   NaN
             2               Zarate                Jesus                     M
             3               Zarate                Jesus                     M
             4               Zarate                Jesus                     M
             5            Zarbakhsh               Samira                   NaN
             6              Zarcone                 John                   NaN
             7              Zaresky              Stephen                   NaN
             8             Zaretsky                  Jay                     R
             9            Zargaroff                David                    D.
             10              Zarkin                Allan                   NaN
             11             Zarnoch              Chester                     W
             12           Zavarelli             Danielle                   Ann
             13             Zawahir          Meeyapillai                     K
             14            Zawislak               Walter                     J
             15               Zedek                Yaron                   NaN
             16          Zegarrundo              Rolando                   NaN
             17              Zegeye                Yonas                   NaN
             18                 Zeh                  Kim                    M.
             19              Zehner              William                  John

                 License Number License Type Effective Date Date Updated  Year of Birth
             0           113897           MD     02/07/1995          NaN            NaN
             1           183941           MD     05/03/2017   04/26/2017         1953.0
             2           144321           MD     01/27/2006   01/20/2006         1947.0
             3           144321           MD     04/03/2003   04/04/2003         1947.0
             4           144321           MD     12/08/2006   12/01/2006         1947.0
             5            14763           PA     12/13/2019   12/06/2019         1981.0

             6           201767           MD     02/09/2007   02/05/2007         1969.0
             7           115550           MD     11/30/1993          NaN            NaN
             8           179607           MD     03/11/2013   04/10/2017         1957.0
             9           158257           MD     11/13/2019   11/06/2019         1943.0
             10           95976           MD     02/03/2000          NaN         1938.0
             11          127600           MD     10/11/2005   10/11/2005         1945.0
             12            8175           PA     09/18/2007   10/05/2007         1979.0
             13          117999           MD     09/05/2006   10/31/2006         1939.0
             14          194570           MD     06/06/2016   06/06/2016         1954.0
             15          180142           MD     11/15/2019   11/08/2019         1961.0
             16          125982           MD     11/19/2010   11/17/2010         1937.0
             17          152635           MD     06/29/2017   07/27/2017         1952.0
             18          166393           MD     04/12/2019   04/05/2019         1956.0
             19          181937           MD     06/19/2008   06/13/2008         1956.0  ,
                  0                                                  1
             0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
                 0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
             0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

             [1 rows x 27 columns]]
ic| response.status_code: 200

Snoozing for 9 seconds before next scrape

ic| link: 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3'

scraping page https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3

ic| df_list: [                                  Physician Last Name  \
             0                                             Zeifman
             1                                              Zelano
             2                                               Zelig
             3                                              Zelman
             4                                              Zervos
             5                                              Zetlin
             6                                                Zhan
             7                                               Zhang
             8                                                Zhao
             9                                                Zhao
             10                                             Zharov
             11                                         Zhitlovsky
             12                                         Zhitlovsky
             13                                              Zhong
             14                                                Zhu
             15                                                Zhu
             16                                            Ziegler
             17                                            Ziering
             18                                              Ziets
             19                                          Zigelbaum
             20                               New Physician Search
             21  Physician Records \tvar css = ".visualping-con...

                                              Physician First Name Physician Middle Name  \
             0                                              Claude               William
             1                                           Salvatore                   NaN
             2                                                Irma                   NaN
             3                                             Russell                     H
             4                                           Gerasimos                     D
             5                                           Valentine                   NaN
             6                                                  Su                   NaN
             7                                              Yuqing                   NaN
             8                                             Mengjia                   NaN
             9                                              Weiguo                   NaN
             10                                           Eleonora                   NaN
             11                                             German                   NaN
             12                                             German                   NaN
             13                                           Chizheng                   NaN
             14                                               Mary                     M
             15                                               Ming                 Zhong
             16                                               Ross                   NaN
             17                                            William                     H
             18                                             Robert                   NaN
             19                                            Sheldon                     D
             20                                                NaN                   NaN
             21  Physician Last Name Physician First Name Physi...                   NaN

                 License Number License Type Effective Date Date Updated  Year of Birth
             0         186399.0           MD     06/15/2005   06/08/2005         1958.0
             1         124660.0           MD     08/17/1999          NaN         1947.0
             2         121287.0           MD     05/11/2010   05/12/2010         1937.0
             3         148542.0           MD     08/27/1996          NaN            NaN
             4         176399.0           MD     03/08/2012   03/01/2012         1955.0
             5          47744.0           MD     11/20/1995          NaN            NaN
             6         257677.0           MD     11/07/2014   02/23/2017         1974.0
             7         260295.0           MD     02/21/2017   02/14/2017         1959.0
             8         200239.0           MD     01/22/2016   01/15/2016         1954.0
             9         256188.0           MD     07/27/2018   07/20/2018         1956.0
             10        191209.0           MD     02/18/2003   02/11/2003         1940.0
             11        163179.0           MD     06/23/1995          NaN            NaN
             12        163179.0           MD     08/16/1993          NaN            NaN
             13        201312.0           MD     08/20/2003   08/22/2003         1953.0
             14        186722.0           MD     04/05/2013   04/03/2013         1939.0
             15        200493.0           MD     03/28/2011   10/14/2014         1949.0
             16        151632.0           MD     11/10/2015   11/04/2015         1952.0
             17         80678.0           MD     11/05/2001   11/14/2001         1930.0
             18        177701.0           MD     11/27/1996          NaN            NaN
             19        142022.0           MD     09/14/1993          NaN            NaN
             20             NaN          NaN            NaN          NaN            NaN
             21             NaN          NaN            NaN          NaN            NaN  ,
                 Physician Last Name Physician First Name Physician Middle Name  \
             0              Zeifman               Claude               William
             1               Zelano            Salvatore                   NaN
             2                Zelig                 Irma                   NaN
             3               Zelman              Russell                     H
             4               Zervos            Gerasimos                     D
             5               Zetlin            Valentine                   NaN
             6                 Zhan                   Su                   NaN
             7                Zhang               Yuqing                   NaN
             8                 Zhao              Mengjia                   NaN
             9                 Zhao               Weiguo                   NaN
             10              Zharov             Eleonora                   NaN
             11          Zhitlovsky               German                   NaN
             12          Zhitlovsky               German                   NaN
             13               Zhong             Chizheng                   NaN
             14                 Zhu                 Mary                     M
             15                 Zhu                 Ming                 Zhong
             16             Ziegler                 Ross                   NaN
             17             Ziering              William                     H
             18               Ziets               Robert                   NaN
             19           Zigelbaum              Sheldon                     D

                 License Number License Type Effective Date Date Updated  Year of Birth
             0           186399           MD     06/15/2005   06/08/2005         1958.0
             1           124660           MD     08/17/1999          NaN         1947.0
             2           121287           MD     05/11/2010   05/12/2010         1937.0
             3           148542           MD     08/27/1996          NaN            NaN
             4           176399           MD     03/08/2012   03/01/2012         1955.0
             5            47744           MD     11/20/1995          NaN            NaN

             6           257677           MD     11/07/2014   02/23/2017         1974.0
             7           260295           MD     02/21/2017   02/14/2017         1959.0
             8           200239           MD     01/22/2016   01/15/2016         1954.0
             9           256188           MD     07/27/2018   07/20/2018         1956.0
             10          191209           MD     02/18/2003   02/11/2003         1940.0
             11          163179           MD     06/23/1995          NaN            NaN
             12          163179           MD     08/16/1993          NaN            NaN
             13          201312           MD     08/20/2003   08/22/2003         1953.0
             14          186722           MD     04/05/2013   04/03/2013         1939.0
             15          200493           MD     03/28/2011   10/14/2014         1949.0
             16          151632           MD     11/10/2015   11/04/2015         1952.0
             17           80678           MD     11/05/2001   11/14/2001         1930.0
             18          177701           MD     11/27/1996          NaN            NaN
             19          142022           MD     09/14/1993          NaN            NaN  ,
                  0                                                  1
             0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
                 0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
             0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

             [1 rows x 27 columns]]
ic| response.status_code: 200

Snoozing for 8 seconds before next scrape

ic| link: 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4'

scraping page https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4

ic| df_list: [                                  Physician Last Name  \
             0                                              Zikria
             1                                               Zimba
             2                                           Zimmerman
             3                                           Zimmerman
             4                                           Zimmerman
             5                                              Ziomek
             6                                              Zipper
             7                                                Zisk
             8                                              Zisman
             9                                              Zizmor
             10                                              Zizza
             11                                               Zois
             12                                             Zubkin
             13                                             Zucker
             14                                          Zuckerman
             15                                        Zuerndorfer
             16                                              Zugec
             17                                           Zulfacar
             18                                             Zuniga
             19                                             Zuttah
             20                               New Physician Search
             21  Physician Records \tvar css = ".visualping-con...

                                              Physician First Name Physician Middle Name  \
             0                                              Bashir                     A
             1                                               Frank                   NaN
             2                                              Arnold                   NaN
             3                                              Daniel               Jeffrey
             4                                             Raymond                   NaN
             5                                                John                 Josef
             6                                             Jeffrey                     A
             7                                                Gary                   NaN
             8                                              Parvin                   NaN
             9                                            Jonathan                   NaN
             10                                              Frank                   NaN
             11                                             Christ                     L
             12                                              Allan                   NaN
             13                                             Arnold                Harris
             14                                             Steven               Jeffrey
             15                                             Gordon                     H
             16                                              Mirko                   NaN
             17                                               Mary                   NaN
             18                                              Dario                   NaN
             19                                              Silas                     H
             20                                                NaN                   NaN
             21  Physician Last Name Physician First Name Physi...                   NaN

                 License Number License Type Effective Date Date Updated  Year of Birth
             0          91655.0           MD     08/17/2009   08/10/2009         1932.0
             1         197137.0           MD     09/16/2008   09/10/2008         1954.0
             2         141422.0           DO     11/01/2007   10/25/2007         1940.0
             3         154263.0           MD     09/30/2008   09/24/2008         1947.0
             4          96514.0           MD     01/17/2002   01/22/2002         1937.0
             5         166256.0           MD     09/05/2006   08/30/2006         1960.0
             6         174914.0           MD     02/15/2013   02/08/2013         1960.0
             7         103786.0           DO     09/02/2013   11/15/2016         1941.0
             8         106659.0           MD     11/12/1991   09/17/2002         1939.0
             9         106081.0           MD     05/11/2004   05/05/2004         1945.0
             10         97709.0           MD     07/23/1998          NaN         1928.0
             11        106437.0           MD     02/07/1995          NaN            NaN
             12        172265.0           MD     11/02/2005   10/27/2005         1955.0
             13         76934.0           MD     09/13/2000          NaN         1930.0
             14        154264.0           MD     08/04/2004   07/29/2004         1952.0
             15        159077.0           MD     10/08/1998          NaN         1956.0
             16        213710.0           MD     12/08/2020   12/01/2020         1960.0
             17        130166.0           MD     10/21/2005   10/14/2005         1940.0
             18        123324.0           MD     05/07/2002   05/07/2002         1941.0
             19        153216.0           MD     01/22/2003   06/17/2003         1953.0
             20             NaN          NaN            NaN          NaN            NaN
             21             NaN          NaN            NaN          NaN            NaN  ,
                 Physician Last Name Physician First Name Physician Middle Name  \
             0               Zikria               Bashir                     A
             1                Zimba                Frank                   NaN
             2            Zimmerman               Arnold                   NaN
             3            Zimmerman               Daniel               Jeffrey
             4            Zimmerman              Raymond                   NaN
             5               Ziomek                 John                 Josef
             6               Zipper              Jeffrey                     A
             7                 Zisk                 Gary                   NaN
             8               Zisman               Parvin                   NaN
             9               Zizmor             Jonathan                   NaN
             10               Zizza                Frank                   NaN
             11                Zois               Christ                     L
             12              Zubkin                Allan                   NaN
             13              Zucker               Arnold                Harris
             14           Zuckerman               Steven               Jeffrey
             15         Zuerndorfer               Gordon                     H
             16               Zugec                Mirko                   NaN
             17            Zulfacar                 Mary                   NaN
             18              Zuniga                Dario                   NaN
             19              Zuttah                Silas                     H

                 License Number License Type Effective Date Date Updated  Year of Birth
             0            91655           MD     08/17/2009   08/10/2009         1932.0
             1           197137           MD     09/16/2008   09/10/2008         1954.0
             2           141422           DO     11/01/2007   10/25/2007         1940.0
             3           154263           MD     09/30/2008   09/24/2008         1947.0
             4            96514           MD     01/17/2002   01/22/2002         1937.0
             5           166256           MD     09/05/2006   08/30/2006         1960.0

             6           174914           MD     02/15/2013   02/08/2013         1960.0
             7           103786           DO     09/02/2013   11/15/2016         1941.0
             8           106659           MD     11/12/1991   09/17/2002         1939.0
             9           106081           MD     05/11/2004   05/05/2004         1945.0
             10           97709           MD     07/23/1998          NaN         1928.0
             11          106437           MD     02/07/1995          NaN            NaN
             12          172265           MD     11/02/2005   10/27/2005         1955.0
             13           76934           MD     09/13/2000          NaN         1930.0
             14          154264           MD     08/04/2004   07/29/2004         1952.0
             15          159077           MD     10/08/1998          NaN         1956.0
             16          213710           MD     12/08/2020   12/01/2020         1960.0
             17          130166           MD     10/21/2005   10/14/2005         1940.0
             18          123324           MD     05/07/2002   05/07/2002         1941.0
             19          153216           MD     01/22/2003   06/17/2003         1953.0  ,
                  0                                                  1
             0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
                 0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
             0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

             [1 rows x 27 columns]]
ic| response.status_code: 200

Snoozing for 8 seconds before next scrape

ic| link: 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5'

scraping page https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5

ic| df_list: [                                 Physician Last Name  \
             0                                              Zweig
             1                               New Physician Search
             2  Physician Records \tvar css = ".visualping-con...

                                             Physician First Name Physician Middle Name  \
             0                                             Steven               Jeffrey
             1                                                NaN                   NaN
             2  Physician Last Name Physician First Name Physi...                   NaN

                License Number License Type Effective Date Date Updated  Year of Birth
             0        140242.0           MD     05/17/2006   05/10/2006         1949.0
             1             NaN          NaN            NaN          NaN            NaN
             2             NaN          NaN            NaN          NaN            NaN  ,
                Physician Last Name Physician First Name Physician Middle Name  \
             0               Zweig               Steven               Jeffrey

                License Number License Type Effective Date Date Updated  Year of Birth
             0          140242           MD     05/17/2006   05/10/2006           1949  ,
                  0                                                  1
             0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
                 0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
             0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

             [1 rows x 27 columns]]
ic| response.status_code: 200

Snoozing for 6 seconds before next scrape
I'm DONE SCRAPING 5 pages

In [38]:
df_all

[   Physician Last Name Physician First Name Physician Middle Name  \
 0              Zaccheo               Jerald                     D
 1            Zachariah              Abraham                   NaN
 2               Zachel             Gretchen                   NaN
 3               Zackin                Henry                     J
 4               Zackin                Henry                     J
 5               Zackin                Henry                     J
 6                Zadeh               Mehran                   NaN
 7                Zafar                Kamal                   NaN
 8                Zafar                Syeda                   NaN
 9                 Zahl              Kenneth                   NaN
 10              Zahler               Gideon                   NaN
 11               Zaino               Edward                   NaN
 12                 Zak                 John                   NaN
 13                Zaki                 Omar                     S
 14               Zales              Michael                   NaN
 15            Zalmanov              Mikhail            Isaakovich
 16            Zalmanov              Mikhail                     I
 17               Zaman                Fasih                     Q
 18               Zamek               Albert                   NaN
 19            Zamstein                Jacob                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           134842           MD     12/20/2001   12/23/2001         1946.0
 1           137458           MD     09/15/2004   09/08/2004         1950.0
 2            20699           PA     10/13/2017   10/06/2017         1952.0
 3           101457           MD     02/21/1990   03/09/2005         1941.0
 4           101457           MD     03/16/2005   03/09/2005         1941.0
 5           101457           MD     03/28/2002   03/09/2005         1941.0
 6             3399           PA     07/21/2010   09/06/2013         1961.0
 7              113           SA     08/04/2016   08/08/2016         1968.0
 8           158264           MD     10/16/2007   11/06/2007         1936.0
 9           151413           MD     04/18/2008   04/11/2008         1956.0
 10            6578           PA     08/04/2004   07/29/2004         1964.0
 11           42864           MD     12/12/1997          NaN            NaN
 12          170914           MD     04/27/2007   04/20/2007         1953.0
 13          114194           MD     10/13/1994          NaN            NaN
 14           95317           MD     07/19/1994          NaN            NaN
 15          158429           MD     11/08/2005   11/02/2005         1946.0
 16          158429           MD     03/06/2013   02/27/2013         1946.0
 17          114131           MD     11/24/1994          NaN            NaN
 18          181578           MD     11/20/2013   12/26/2013         1961.0
 19          136715           MD     04/26/2005   04/19/2005         1951.0  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0               Zamzam                Salih                   NaN
 1            Zaninelli                Rocco                   NaN
 2               Zarate                Jesus                     M
 3               Zarate                Jesus                     M
 4               Zarate                Jesus                     M
 5            Zarbakhsh               Samira                   NaN
 6              Zarcone                 John                   NaN
 7              Zaresky              Stephen                   NaN
 8             Zaretsky                  Jay                     R
 9            Zargaroff                David                    D.
 10              Zarkin                Allan                   NaN
 11             Zarnoch              Chester                     W
 12           Zavarelli             Danielle                   Ann
 13             Zawahir          Meeyapillai                     K
 14            Zawislak               Walter                     J
 15               Zedek                Yaron                   NaN
 16          Zegarrundo              Rolando                   NaN
 17              Zegeye                Yonas                   NaN
 18                 Zeh                  Kim                    M.
 19              Zehner              William                  John

     License Number License Type Effective Date Date Updated  Year of Birth
 0           113897           MD     02/07/1995          NaN            NaN
 1           183941           MD     05/03/2017   04/26/2017         1953.0
 2           144321           MD     01/27/2006   01/20/2006         1947.0
 3           144321           MD     04/03/2003   04/04/2003         1947.0
 4           144321           MD     12/08/2006   12/01/2006         1947.0
 5            14763           PA     12/13/2019   12/06/2019         1981.0
 6           201767           MD     02/09/2007   02/05/2007         1969.0
 7           115550           MD     11/30/1993          NaN            NaN
 8           179607           MD     03/11/2013   04/10/2017         1957.0
 9           158257           MD     11/13/2019   11/06/2019         1943.0
 10           95976           MD     02/03/2000          NaN         1938.0
 11          127600           MD     10/11/2005   10/11/2005         1945.0
 12            8175           PA     09/18/2007   10/05/2007         1979.0
 13          117999           MD     09/05/2006   10/31/2006         1939.0
 14          194570           MD     06/06/2016   06/06/2016         1954.0
 15          180142           MD     11/15/2019   11/08/2019         1961.0
 16          125982           MD     11/19/2010   11/17/2010         1937.0
 17          152635           MD     06/29/2017   07/27/2017         1952.0
 18          166393           MD     04/12/2019   04/05/2019         1956.0
 19          181937           MD     06/19/2008   06/13/2008         1956.0  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0              Zeifman               Claude               William
 1               Zelano            Salvatore                   NaN
 2                Zelig                 Irma                   NaN
 3               Zelman              Russell                     H
 4               Zervos            Gerasimos                     D
 5               Zetlin            Valentine                   NaN
 6                 Zhan                   Su                   NaN
 7                Zhang               Yuqing                   NaN
 8                 Zhao              Mengjia                   NaN
 9                 Zhao               Weiguo                   NaN
 10              Zharov             Eleonora                   NaN
 11          Zhitlovsky               German                   NaN
 12          Zhitlovsky               German                   NaN
 13               Zhong             Chizheng                   NaN
 14                 Zhu                 Mary                     M
 15                 Zhu                 Ming                 Zhong
 16             Ziegler                 Ross                   NaN
 17             Ziering              William                     H
 18               Ziets               Robert                   NaN
 19           Zigelbaum              Sheldon                     D

     License Number License Type Effective Date Date Updated  Year of Birth
 0           186399           MD     06/15/2005   06/08/2005         1958.0
 1           124660           MD     08/17/1999          NaN         1947.0
 2           121287           MD     05/11/2010   05/12/2010         1937.0
 3           148542           MD     08/27/1996          NaN            NaN
 4           176399           MD     03/08/2012   03/01/2012         1955.0
 5            47744           MD     11/20/1995          NaN            NaN
 6           257677           MD     11/07/2014   02/23/2017         1974.0
 7           260295           MD     02/21/2017   02/14/2017         1959.0
 8           200239           MD     01/22/2016   01/15/2016         1954.0
 9           256188           MD     07/27/2018   07/20/2018         1956.0
 10          191209           MD     02/18/2003   02/11/2003         1940.0
 11          163179           MD     06/23/1995          NaN            NaN
 12          163179           MD     08/16/1993          NaN            NaN
 13          201312           MD     08/20/2003   08/22/2003         1953.0
 14          186722           MD     04/05/2013   04/03/2013         1939.0
 15          200493           MD     03/28/2011   10/14/2014         1949.0
 16          151632           MD     11/10/2015   11/04/2015         1952.0
 17           80678           MD     11/05/2001   11/14/2001         1930.0
 18          177701           MD     11/27/1996          NaN            NaN
 19          142022           MD     09/14/1993          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0               Zikria               Bashir                     A
 1                Zimba                Frank                   NaN
 2            Zimmerman               Arnold                   NaN
 3            Zimmerman               Daniel               Jeffrey
 4            Zimmerman              Raymond                   NaN
 5               Ziomek                 John                 Josef
 6               Zipper              Jeffrey                     A
 7                 Zisk                 Gary                   NaN
 8               Zisman               Parvin                   NaN
 9               Zizmor             Jonathan                   NaN
 10               Zizza                Frank                   NaN
 11                Zois               Christ                     L
 12              Zubkin                Allan                   NaN
 13              Zucker               Arnold                Harris
 14           Zuckerman               Steven               Jeffrey
 15         Zuerndorfer               Gordon                     H
 16               Zugec                Mirko                   NaN
 17            Zulfacar                 Mary                   NaN
 18              Zuniga                Dario                   NaN
 19              Zuttah                Silas                     H

     License Number License Type Effective Date Date Updated  Year of Birth
 0            91655           MD     08/17/2009   08/10/2009         1932.0
 1           197137           MD     09/16/2008   09/10/2008         1954.0
 2           141422           DO     11/01/2007   10/25/2007         1940.0
 3           154263           MD     09/30/2008   09/24/2008         1947.0
 4            96514           MD     01/17/2002   01/22/2002         1937.0
 5           166256           MD     09/05/2006   08/30/2006         1960.0
 6           174914           MD     02/15/2013   02/08/2013         1960.0
 7           103786           DO     09/02/2013   11/15/2016         1941.0
 8           106659           MD     11/12/1991   09/17/2002         1939.0
 9           106081           MD     05/11/2004   05/05/2004         1945.0
 10           97709           MD     07/23/1998          NaN         1928.0
 11          106437           MD     02/07/1995          NaN            NaN
 12          172265           MD     11/02/2005   10/27/2005         1955.0
 13           76934           MD     09/13/2000          NaN         1930.0
 14          154264           MD     08/04/2004   07/29/2004         1952.0
 15          159077           MD     10/08/1998          NaN         1956.0
 16          213710           MD     12/08/2020   12/01/2020         1960.0
 17          130166           MD     10/21/2005   10/14/2005         1940.0
 18          123324           MD     05/07/2002   05/07/2002         1941.0
 19          153216           MD     01/22/2003   06/17/2003         1953.0  ,
   Physician Last Name Physician First Name Physician Middle Name  \
 0               Zweig               Steven               Jeffrey

    License Number License Type Effective Date Date Updated  Year of Birth
 0          140242           MD     05/17/2006   05/10/2006           1949  ]

In [40]:
df_all[0]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457,MD,02/21/1990,03/09/2005,1941.0
4,Zackin,Henry,J,101457,MD,03/16/2005,03/09/2005,1941.0
5,Zackin,Henry,J,101457,MD,03/28/2002,03/09/2005,1941.0
6,Zadeh,Mehran,NaN,3399,PA,07/21/2010,09/06/2013,1961.0
7,Zafar,Kamal,NaN,113,SA,08/04/2016,08/08/2016,1968.0
8,Zafar,Syeda,NaN,158264,MD,10/16/2007,11/06/2007,1936.0
9,Zahl,Kenneth,NaN,151413,MD,04/18/2008,04/11/2008,1956.0
10,Zahler,Gideon,NaN,6578,PA,08/04/2004,07/29/2004,1964.0
11,Zaino,Edward,NaN,42864,MD,12/12/1997,NaN,NaN
12,Zak,John,NaN,170914,MD,04/27/2007,04/20/2007,1953.0
13,Zaki,Omar,S,114194,MD,10/13/1994,NaN,NaN
14,Zales,Michael,NaN,95317,MD,07/19/1994,NaN,NaN
15,Zalmanov,Mikhail,Isaakovich,158429,MD,11/08/2005,11/02/2005,1946.0
16,Zalmanov,Mikhail,I,158429,MD,03/06/2013,02/27/2013,1946.0
17,Zaman,Fasih,Q,114131,MD,11/24/1994,NaN,NaN
18,Zamek,Albert,NaN,181578,MD,11/20/2013,12/26/2013,1961.0
19,Zamstein,Jacob,NaN,136715,MD,04/26/2005,04/19/2005,1951.0

In [41]:
def combine_tables(list_name,filename):
  '''
  Takes dataframes in a list and combines into a single CSV.
  Tables must have identical column headers and order
  Arguments: name of list and the CSV name you want (in quotes as a string)
  '''
  df = pd.concat(list_name) ## join/concat all the dataframes into one dataframe
  df.to_csv(filename, encoding='utf-8', index=False) ## convert that single dataframe into a csv
#   files.download(filename) ## download it
  print(f"{filename} is in your current folder!")
  return df

In [42]:
combine_tables(df_all, "rmd_Z.csv")

rmd_Z.csv is in your current folder!

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457,MD,02/21/1990,03/09/2005,1941.0
4,Zackin,Henry,J,101457,MD,03/16/2005,03/09/2005,1941.0
...,...,...,...,...,...,...,...,...
16,Zugec,Mirko,NaN,213710,MD,12/08/2020,12/01/2020,1960.0
17,Zulfacar,Mary,NaN,130166,MD,10/21/2005,10/14/2005,1940.0
18,Zuniga,Dario,NaN,123324,MD,05/07/2002,05/07/2002,1941.0
19,Zuttah,Silas,H,153216,MD,01/22/2003,06/17/2003,1953.0
0,Zweig,Steven,Jeffrey,140242,MD,05/17/2006,05/10/2006,1949.0