# Week 3 - Functions

The real power in any programming language is the **Function**.

A function is:

* a little block of script (one line or many) that performs specific task or a series of tasks.
* reusable and helps us make our code DRY.
* triggered when something "invokes" or "calls" it.
* ideally modular â€“ it performs a narrow task and you call several functions to perform more complex tasks.

### What we'll cover today:

* Simple function
* Return statements
*

In [13]:
## Build a function called myFunction that adds 2 numbers together
## it should print "The total is (whatever the number is)!"

def add_numbers (number1, number2):
    '''
    needs 2 numbers as arguments
    will add them together and print total
    '''
    total = number1 + number2
    print (f"The total is {total}")

In [ ]:
## build it here

add_numbers

In [11]:
## Call myFunction using 4 and 5 as the arguments
add_numbers (4, 5)

The total is 9

In [12]:
## Call myFunction using 10 and 2 as the arguments
add_numbers (10,2)

The total is 12

In [ ]:
## you might forget what arguments are needed for the function to work.
## you can add notes that appear on shift-tab as you call the function.
## write it here

In [14]:
## test it on 3 and 4
add_numbers (3,4)

The total is 7

### To use or not use functions?

Let's compare the two options with a simple example:

In [15]:
## You have a list of numbers. 
mylist1 = [1, -5, 22, -44.2, 33, -45]

In [17]:
## Turn each number into an absolute number.
## a for loop works perfectly fine here.
for number in mylist1:
    print(abs(number))

1
5
22
44.2
33
45

In [16]:
## The problem is that your project keeps generating more lists.
## Each list of numbers has to be turned into absolute numbers
mylist2 = [-56, -34, -75, -111, -22]
mylist3 = [-100, -200, 100, -300, -100]
mylist4 = [-23, -89, -11, -45, -27]
mylist5 = [0, 1, 2, 3, 4, 5]

## DRY


### Do you keep writing for loops for each list?

### No, that's a lot of repetition!
### DRY stands for "Don't Repeat Yourself"

In [19]:
## Instead we write a function that takes a list,
## converts each list item to an absolute number,
## and prints out the number

def abs_vals (num_list):
    '''
    converts the number in each list to an absolute number
    requires a list
    '''
    for number in num_list:
        print(abs(number))

In [23]:
abs_vals (mylist4)

23
89
11
45
27

In [24]:
## Try swapping out different lists into the function:
abs_vals (mylist4)

23
89
11
45
27

## Timesaver 
### Imagine for a moment that your editor tells you that the calculation needs to be updated. Instead of needing the absolute number, you need the absolute number minus 5.

### Having used multiple for loops, you'd have to change each one. What if you miss one or two? Either way, it's a chore.

### With functions, you just revise the function and the update runs everywhere.

In [ ]:
## So if an editor says to actually multiply the absolute number by 1_000_000,
def abs_vals (num_list):
    '''
    converts the number in each list to an absolute number
    requires a list
    '''
    for number in num_list:
        print(abs(number))

In [ ]:
## Try swapping out different lists into the function:

## Return Statements

### So far we have only printed out values processed by a function. 

### But we really want to retain the value the function creates. 

### We can then pass that value to other parts of our calculations and code.

In [25]:
## Simple example
## A function that adds two numbers together and prints the value:
def add_numbers (number1, number2):
    '''
    needs 2 numbers as arguments
    will add them together and print total
    '''
    total = number1 + number2
    print (f"The total is {total}")

In [26]:
## call the function with the numbers 2 and 4
add_numbers (2,4)

The total is 6

In [28]:
## let's try to save it in a variable called myCalc
myCalc = add_numbers(2,4)

The total is 6

In [30]:
## Print myCalc. What does it hold?
print(myCalc)

None

In [31]:
type(myCalc)

NoneType

### The return Statement

In [32]:
## Tweak our function by adding return statement
## instead of printing a value we want to return a value(or values).
def add_numbers (number1, number2):
    '''
    needs 2 numbers as arguments
    will add them together and print total
    '''
    total = number1 + number2
    print (f"The total is {total}")
    return total ###return statement has to be the last thing in a statement

In [34]:
## call the function add_numbers_ret 
## and store in variable called myCalc
myCalc = add_numbers (2,4)

The total is 6

6

In [35]:
## print myCalc
myCalc

6

In [37]:
## What type is myCalc?
type (myCalc)

int

## Return multiple values

In [38]:
## demo function

def get_person (name, age, country):
    '''
    takes name as string, age as int, country as string
    returns name in allcaps, age x 100, country lowercased
    '''
    return name.upper(), age * 100, country.lower()

In [45]:
name,age,country = get_person("David", 35, "France")

In [47]:
name, age,country = get_person ("Olivia", 40, "India")

In [48]:
name

'OLIVIA'

### Let's revise our earlier absolute values converter with a return statement
#### Here is the earlier version:
<img src="https://github.com/sandeepmj/fall20-student-practical-python/blob/master/support_files/abs-function.png?raw=true" style="width: 100%;">

In [52]:
## Here it is revised with a return statement
def abs_vals (num_list):
    '''
    converts the number in each list to an absolute number
    requires a list
    '''
    absolute_list = []
    for number in num_list:
        absolute_list.append(abs(number))
    return abs(number)

In [53]:
abs_vals (mylist1)

45

In [55]:
## Let's actually make that a list comprehension version of the function:
def abs_vals_lc (num_list):
    '''
    converts the number in each list to an absolute number
    requires a list
    '''
    return [abs(number) for number in num_list]

In [58]:
## Let's test it by storing the return value in variable x
x = abs_vals_lc (mylist3)
x

[100, 200, 100, 300, 100]

In [59]:
## What type of data object is it?
type (x)

list

# Make a function more flexible and universal

* Currently, we have a function that takes ONLY a list as an argument.
* We'd have to write another one for a single number argument.

In [61]:
## try using return_absolutes_lc on a single number like -10
## it will break

abs_vals([1])

1

# Universalize our absolute numbers function

In [63]:
## call the function make_abs
def make_abs (a_number):
    '''
    function to turn an individual number into an absolute
    '''
    return abs(a_number)

In [64]:
## try it on -10
make_abs (-10)

10

In [65]:
## Try it on mylist3 - it will break!
make_abs (mylist1)

TypeError: bad operand type for abs(): 'list'

## We can use the ```map()``` function to tackle this problem.

```map()``` takes 2 arguments: a ```function``` and ```iterable like a list```.

In [66]:
## try it on make_abs and mylist3
map(make_abs, mylist1)

In [68]:
## save it into a list
updated_list = list(map(make_abs, mylist1))

## ```map()``` also works for multiple iterables

#### remember our ```add_numbers_ret``` function.

In [69]:
## here it is again:

def add_numbers_ret(number1, number2):
    return (number1 + number2)

In [70]:
## two lists
a_even = [2, 4, 6, 8]
a_odd = [1, 3, 5, 7, 9] ## note this has one more item in the list.

In [71]:
## run map on a_even and a_odd
b = list(map(add_numbers_ret, a_even, a_odd)) #map means connecting two or more things together
b

[3, 7, 11, 15]

## Functions that call other funcions

In [73]:
## let's create a function that returns the square of a number
def sq_me(num):
    '''
    takes a number and returns its square
    '''
    return pow (num, 2)

In [74]:
## what is 9 squared?
sq_me (9)

81

In [75]:
add_numbers (10, 22)

The total is 32

32

### Making a point here with a simple example
Let's say we want to add 2 numbers together and then square that result.
Instead of writing one "complex" function, we can call on our modular functions.

In [76]:
## a function that calls our modular functions
def making_a_point (num1,num2):
    '''
    uses sq_me to square
    uses add_numbers to add 2 numbers
    '''
    return (sq_me(add_numbers(num1, num2)))

In [78]:
## call make_point() on 2 and 5
making_a_point(2,5)

The total is 7

49